// CREATE CLASSES FOR SPACING

@function populatespacingmap($spacingmap: (), $is-negative: false) {
  $initial: if($is-negative, 1, 0);
  $prefix: if($is-negative, 'n', '');
  $multiplier: if($is-negative, -4px, 4px);

  @for $size from $initial through 16 {
    $spacingmap: map.merge($spacingmap, ($prefix + $size: $size * $multiplier));
  }

  @return $spacingmap;
}

// CREATE CLASSES FOR FLEX COLUMNS

@function populategrid($max) {
  $grid: ();

  @for $size from 1 through $max {
    $grid: map.merge($grid, ($size: repeat($size, minmax(0, 1fr))));
  }

  @return $grid;
}
