// MIXINS USE

$option-separator: '-';
$breakpoint-separator: \:;
$flex-columns-length: 12;

// TYPOGRAPHY

$title-font: 'Source Sans Pro', helvetica, sans-serif;
$text-font: 'Raleway', helvetica, sans-serif;

// GRID

$breakpoints: (
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
  'xxl': 1536px
);

// TEXT ALIGNMENT

$text: (
  'left': left,
  'right': right,
  'center': center,
  'justify': justify,
);

// SPACING

$paddings: ();
$margins: ('auto': auto);

// FLEXBOX

$flex-columns: ();

$justify-content: (
  'justify-start': flex-start,
  'justify-end': flex-end,
  'justify-center': center,
  'justify-evenly': space-evenly,
  'justify-space-between': space-between,
  'justify-space-around': space-around,
);

$align-items: (
  'align-items-start': flex-start,
  'align-items-end': flex-end,
  'align-items-center': center,
  'align-items-baseline': baseline,
  'align-items-stretch': stretch,
);

// POSITIONS

$positions: (
  'fixed': fixed,
  'absolute': absolute,
  'relative': relative
);
