@use 'sass:map';
@use 'sass:list';
@use 'sass:string';

@import './layout';

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: $text-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font;
}

// TEXT ALIGNMENT

.text {
  @include options($text) using ($value) {
    text-align: $value;
  }
}

// MARGIN AND PADDING SPACING

$margins: populatespacingmap($margins);
$n-margins: populatespacingmap((), true);
$margins: map.merge($margins, $n-margins);

$paddings: populatespacingmap(());
$n-paddings: populatespacingmap((), true);
$paddings: map.merge($paddings, $n-paddings);

.mt {
  @include options($margins) using ($value) {
    margin-top: $value;
  }
}

.mb {
  @include options($margins) using ($value) {
    margin-bottom: $value;
  }
}

.ml {
  @include options($margins) using ($value) {
    margin-left: $value;
  }
}

.mr {
  @include options($margins) using ($value) {
    margin-right: $value;
  }
}

.my {
  @include options($margins) using ($value) {
    margin-bottom: $value;
    margin-top: $value;
  }
}

.mx {
  @include options($margins) using ($value) {
    margin-left: $value;
    margin-right: $value;
  }
}

.ma {
  @include options($margins) using ($value) {
    margin: $value;
  }
}

.pt {
  @include options($paddings) using ($value) {
    padding-top: $value;
  }
}

.pb {
  @include options($paddings) using ($value) {
    padding-bottom: $value;
  }
}

.pl {
  @include options($paddings) using ($value) {
    padding-left: $value;
  }
}

.pr {
  @include options($paddings) using ($value) {
    padding-right: $value;
  }
}

.py {
  @include options($paddings) using ($value) {
    padding-bottom: $value;
    padding-top: $value;
  }
}

.px {
  @include options($paddings) using ($value) {
    padding-left: $value;
    padding-right: $value;
  }
}

.pa {
  @include options($paddings) using ($value) {
    padding: $value;
  }
}

// FLEXBOX

.flex {
  display: flex;
}

@include options($justify-content) using ($value) {
  justify-content: $value;
}

@include options($align-items) using ($value) {
  align-items: $value;
}

// POSITION

@include options($positions) using ($value) {
  position: $value;
}
